/* color palette (light to dark)

#5CA1CC (light sky blue)
#A7B7C2 (pastel/linen blue)
#7B878F (light gray)
#364853 (dark blue gray)
#393F42 (slate gray) */

/******************** RESET ********************/

html,
body {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body * {
  line-height: 150%;
  color: #393f42;
  font-weight: bold;
  font-family: "EB Garamond", serif;
  font-size: 1.25rem;
  letter-spacing: 0.1rem;
  width: 100%;
  border-radius: 3px;
}
div,
div * {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
body,
body *,
div,
div *,
header,
header *,
main,
main *,
.ap-search-form > *,
.ap-submit-button-div,
.search-instructions-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
section * {
  margin-block-start: 5px;
  margin-block-end: 5px;
}
section,
section *,
a {
  overflow-wrap: break-word;
}
a {
  padding: 0;
  margin: 0;
}

li > p {
  margin: 0;
}
h2 {
  font-size: 1.5rem;
  font-family: "Cutive Mono", monospace;

  margin-block-end: 5px;
  margin-block-start: 5px;
}

/******************** GLOBAL ********************/

body {
  background-color: #364853;
}

ul {
  justify-content: flex-start;
  padding: 5px;
}
li {
  padding: 5px;
  list-style: none;
}
li:nth-child(1n) {
  background-color: #a7b7c2;
}
li:nth-child(2n) {
  background-color: #5ca1cc;
}

/******************** FORM ********************/

label {
  margin: 0;
  padding: 10px 10px 5px 10px;
}
.ap-search-input-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Cutive Mono", monospace;
}
form {
  padding: 10px;
}
.search-instructions {
  width: 250px;
  font-size: 1rem;
  padding: 5px;
  margin-top: 0px;
  margin-block-end: 0;
}
.form-validation {
  color: red;
  line-height: 0;
  padding: 5px;
  margin: 10px 5px 10px 0px;
}
input[id="word-search"] {
  width: 85%;
  min-height: 50px;
  text-align: center;
  font-family: "Cutive Mono", monospace;
  letter-spacing: 0rem;
  margin: 0;
  color: #393f42;
}
.ap-submit-button {
  width: 100px;
  min-height: 50px;
  margin: 0;
  border-radius: 5px;
  border-style: none;
  font-family: "Cutive Mono", monospace;
  background-color: #5ca1cc;
  color: #393f42;
}
.ap-search-form div {
  margin-bottom: 20px;
}

.ap-submit-button-div {
  padding-right: 20px;
}
.search-instructions-div {
  background-color: #5ca1cc;
}
.form-validation-advice {
  margin: 0;
  width: 250px;
}
span.form-validation-fail,
span.form-validation-success {
  width: 10%;
}
span.form-validation-fail::after {
  content: "✖";
  padding-left: 15px;
  font-size: 40px;
  color: red;
}

span.form-validation-success::after {
  content: "✓";
  padding-left: 15px;
  font-size: 40px;
  color: rgb(7, 202, 7);
}
.search-error {
  width: 90%;
  background-color: #a7b7c2;
}
/******************** MAIN ********************/
h1 {
  margin: 15px 0;
  padding: 10px 5px;
  color: #a7b7c2;
  width: 100%;
  line-height: 120%;
  font-size: 3rem;
  font-family: "Cutive Mono", monospace;
}

section {
  background-color: #7b878f;
  width: 95%;
  margin: 10px;
}
.newspapers li p {
  align-items: flex-start;
}
ul.definitions {
  margin-block-end: 5px;
  margin-block-start: 5px;
}

.newspaper-title {
  margin-bottom: 5px;
}
/**************** HELPER CLASSES ****************/

.hidden {
  display: none;
}

.ital {
  font-style: italic;
}
.bold {
  font-weight: bolder;
}
.center-text {
  text-align: center;
}
