/******************** RESET ********************/

html,
body {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body * {
  line-height: 150%;
}
body,
body > *,
.ap-search-form > *,
.ap-submit-button-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1%;
}

body > *,
.ap-search-form > *,
.ap-submit-button-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1%;
}
body * {
  margin: 5px 10px;
}
ul {
  padding: 0;
}

/******************** FORM ********************/

.ap-search-input {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-instructions,
.disclaimer {
  width: 250px;
  min-height: 50px;
  font-size: 1rem;
  padding: 5px;
  margin-top: 0px;
}
.form-validation {
  color: red;
  line-height: 0;
  padding: 5px;
  margin: 10px 5px 10px 0px;
}
input[id="word-search"] {
  width: 200px;
  min-height: 50px;
  text-align: center;
  margin: 0;
}
.ap-submit-button {
  width: 100px;
  min-height: 50px;
  margin: 0;
}

.ap-submit-button-div {
  margin: 5px;
  padding-right: 20px;
}
.form-validation-advice {
  margin: 0;
  width: 250px;
}
.form-validation-fail:after {
  content: "✖";
  padding-left: 10px;
  font-size: 40px;
  color: red;
}

.form-validation-success:after {
  content: "✓";
  padding-left: 10px;
  font-size: 40px;
  color: green;
}

/******************** MAIN ********************/
li {
  border: 2px gray solid;
  list-style: none;
}
.js-search-results,
.js-results-list,
a {
  overflow-wrap: break-word;
  width: 300px;
}
/**************** HELPER CLASSES ****************/

.hidden {
  display: none;
}

.ital {
  font-style: italic;
}
.bold {
  font-weight: bold;
}
